<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/home.css') }}">
</head>

<body>


    <header>
        <div class="nav">
            <ul>
                <li class="home">
                    <a href="/home">Home</a>
                </li>
                <li class="test">
                    <a href="/test">Risk Calculator</a>
                </li>
                <li class="dashboards">
                    <a href="/dashboard">Interactive Dashboards</a>
                </li>
                <li class="contact">
                    <a href="/contactus">Contact Us</a>
                </li>
                <li class="contact">
                    <a href="/navlogin">{{is_logged_in}}</a>
                </li>
            </ul>
        </div>
    </header>

    <div class="logo">
        <img src="/static/img/logo.jpg">
    </div>

    <div class="Project">

        <p>
            <h1>ABOUT US</h1>
        </p>

    </div>
    <div class="AboutUs">

        <p>
            In today’s era, data breaches have become a major problem due to the amounts of sensitive information exchanged on the internet for business as well as personal purposes on a day to day basis. Keeping track of all the confidential in nation and taking
            preventive measures to avoid any data hacking or misuse has become extremely imperative. Thus, businesses are turning to smart tech tools like breach meters to protect their data from internal or external violation by predicting weaker links
            in the data corpus. We propose a novel website, which uses Risk Assessment Calculator, Information leak source predictor and a comprehensive visualization tool to provide breach index score, possible breach source and detailed data insights
            for a particular organization. We believe that BreachEscape can become a major reference point for people from different strata of Information Technology and Data security. This website would be easy to access and use, providing organization
            specific and relevant data breach information.
        </p>
    </div>
</body>